---
layout: default
---

<div class="resume">

	<h2>Experience</h2>
	{% for job in site.data.resume.experience %}
	<div class="job item">
		<h3>{{ job.company }} ({{ job.dates }})</h3>
		<h4>{{ job.title }}</h4>
		<p>{{ job.description }}</p>
	</div>
	{% endfor %}

	<h2>Education</h2>
	{% for school in site.data.resume.education %}

	<div class="school item">
		<h3>{{ school.school }} ({{ school.graduation_date }})</h3>
		<h4>{{ school.diploma }}</h4>
		<p>{{ school.score }}</p>
	</div>
{% endfor %}
</div>

